@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="item">
        <a class="itemIcon" href="products">
            <img src="/images/Winkel.png" alt="shipmentModule" />
        </a>
    </div>
    <div class="item">
        <a class="itemIcon" href="orders">
            <img src="/images/TrackAndTrace.png" alt="orderTracking" />
        </a>
    </div>
    <div class="item">
        <a class="itemIcon" href="notificationPage">
            <img src="/images/Notificatiecenter.png" />
        </a>
    </div>
</div>
